@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    /*height: 100%;*/
}

body {
    background-image: linear-gradient(to right, #F5C78E, #A89277);
}

main {
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 5px 5px 15px #4e4437a1;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {
    color: #58A869;
    text-align: center;
    text-shadow: 1px 1px 2px #7e6d59a6;
}

h2 {
    color: #A978F5;
}

p {
    text-align: justify;
}